# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
# UV cache
.uv/
# pytest/coverage
.pytest_cache/
.coverage
htmlcov/
# Node (por devcontainer futuro)
node_modules/
# Docker
*.log
dist/
# macOS
.DS_Store
.AppleDouble
# VS Code
.vscode/
